<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee" 
         version="2.5" 
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"> 

	<display-name>Archetype Created Web Application</display-name>
	
	<servlet>
		<display-name>DeleteController</display-name>
		<servlet-name>DeleteController</servlet-name>
		<servlet-class>cmdb.DeleteController</servlet-class>
	</servlet>
	
	<servlet>
		<display-name>CreateController</display-name>
		<servlet-name>CreateController</servlet-name>
		<servlet-class>cmdb.CreateController</servlet-class>
	</servlet>
	
	<servlet>
		<display-name>AddComponentController</display-name>
		<servlet-name>AddComponentController</servlet-name>
		<servlet-class>cmdb.AddComponentController</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>DeleteController</servlet-name>
		<url-pattern>/DeleteAction</url-pattern>
	</servlet-mapping>


	<servlet-mapping>
		<servlet-name>CreateController</servlet-name>
		<url-pattern>/CreateAction</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>AddComponentController</servlet-name>
		<url-pattern>/AddComponentAction</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
	<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

</web-app>
